html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #000000;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.fullscreen {
  min-height: 100vh;
  background: url(../images/background.png) no-repeat right top;
  background-size: 52% 90%;
  object-fit: cover;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  margin: 0 auto;
  position: sticky;
  top: 0;
  left: 0;
}

.header__inner {
  max-width: 1050px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 auto;
  margin: 0 auto;
}

.header.white {
  background: linear-gradient(-70deg, #cddafd, white);
}

.header__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 90px;
}

.nav__link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #405063;
  margin-right: 35px;
}
.nav__link:hover {
  color: #489AFF;
}

.nav__link--modal {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #489AFF;
  border-radius: 500px;
  padding: 13px 37px;
  margin-right: 0px;
  transition: all ease-in-out 0.9s;
  border: 1px solid #489AFF;
}
.nav__link--modal:hover {
  background: #FFFFFF;
  color: #489AFF;
  border: 1px solid #ccc;
}

.pop_up {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: transparent;
  z-index: 5;
  transform: translateY(-44.5%) scale(0);
  transition: .4s ease-in-out;
}

.pop_up.active {
  transform: translateY(0%) scale(100%);
  background-color: rgba(43, 41, 41, 0.685);
}

.pop_up_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.pop_up_body {
  margin: auto;
  width: 857px;
  height: 500px;
  border-radius: 10px;
  position: relative;
  padding: 20px;
}

.pop_up_body iframe {
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  position: relative;
}

.pop_up_close {
  color: white;
  position: absolute;
  top: 0px;
  right: 3px;
  font-size: 21px;
  cursor: pointer;
}

.intro {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1050px;
  margin-top: 76px;
  animation-name: show;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.intro__left {
  max-width: 420px;
}

.intro__title {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #405063;
  margin-top: 12px;
}

.intro__description {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  color: #818D9C;
}

.list-title {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #405063;
}

li {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #405063;
  padding: 5px 0;
}
li::marker {
  color: #489AFF;
}

.list-description {
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  color: #405063;
}

.intro__right img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.task {
  text-align: center;
  border-top: 1px solid #E3E8EF;
  border-bottom: 1px solid #E3E8EF;
  max-width: 871px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 26px 60px;
}

.task__description {
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  color: #818D9C;
}

.task__target {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 310px;
  margin: 0 auto;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #405063;
}
.task__target span {
  display: block;
  margin-top: 10px;
}

.process {
  margin: 0 auto;
  max-width: 1050px;
  display: flex;
  justify-content: space-between;
  margin-top: 95px;
}

.process__left {
  margin-right: 60px;
}
.process__left img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.process__right {
  max-width: 447px;
}
.process__right h3 {
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #405063;
}
.process__right p {
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  color: #818D9C;
  margin-bottom: 30px;
}
.process__right a {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #489AFF;
  border-radius: 500px;
  padding: 13px 29px;
  border: 1px solid #489AFF;
  transition: all ease-in-out 0.9s;
}
.process__right a:hover {
  background: #FFFFFF;
  color: #489AFF;
  border: 1px solid #ccc;
}

.grade {
  max-width: 1050px;
  margin: 0 auto;
  background: #354A62;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 29px 47px 67px 47px;
  margin-top: 87px;
  margin-bottom: 89px;
}

.grade__inner {
  display: flex;
}

.grade__left h3 {
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: #FFFFFF;
}
.grade__left p {
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  color: #C4CCD6;
}

.grade__level {
  height: 7px;
  position: relative;
  background-color: #23364C;
  border-radius: 10px;
  margin: 40px 0 0;
}
.grade__level p {
  display: inline;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  opacity: 0.8;
  margin-top: -23px;
}
.grade__level span {
  display: block;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(90deg, #BFA4FF 0.43%, #FF4F72 33.51%, #FFC359 70.96%);
  position: relative;
  top: 0px;
}
.grade__level span::after {
  content: url(../icons/Ellipse.svg);
  position: relative;
  top: -7px;
  left: 90%;
  cursor: pointer;
}

.grade__level--name {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.grade__level--name p {
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  color: #FFFFFF;
}
.grade__level--name p::before {
  content: ".";
  width: 3px;
  height: 3px;
  color: #FFFFFF;
  position: relative;
  top: -20px;
  left: 20px;
  font-size: 40px;
  opacity: 0.5;
}

.grade__left {
  margin-right: 144px;
}

.grade__right {
  display: flex;
  align-items: center;
  text-align: center;
}

.circle-left {
  border: 4px solid #C78FF9;
  width: 116px;
  height: 116px;
  border-radius: 100%;
  margin-right: 34px;
}

.circle-right {
  border: 4px solid #FFC35A;
  width: 116px;
  height: 116px;
  border-radius: 100%;
}

.circle-left span,
.circle-right span {
  display: block;
}

.circle-info {
  position: relative;
  top: 26%;
}

.circle-count {
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #FFFFFF;
}

.circle-name {
  font-weight: 300;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  color: #B2BBC8;
}
